.header{
    height:50px;
    background-color:#37ab40;
    position:relative;
}
.logo{
    display:block;
    width:82px;
    height:33px;
    margin:7px auto 0;
}
.logo img{
    width:100%;
}
.search{
    width:37px;
    height:37px;
    position:absolute;
    right:15px;
    top:12px;
    background:url(../image/icons.png) left top no-repeat ;
    background-size:60px 1414px;
}