/* 将标签默认的间距设为0*/
body,p,h1,h2,h3,h4,h5,h6,ul,dl,dt,form,input{
    margin:0;
    padding:0;

}
/*让h标签继承body中的font-size的字体大小的设置*/
h1,h2,h3,h4,h5,h6{
    font-size:100%;
}
/*去掉默认的圆点*/
ul{
    list-style:none;
}
/*去掉默认下滑线*/
a{
    text-decoration:none;
}
/*设置不倾斜*/
em{
    font-style:normal;
}
/*去掉在ie下图片做连接时生成的边框*/
img{
    border:0px;
}


/*清楚浮动，解决margin-top的塌陷*/
.claerfix:before,.clearfix:after{
    content:"";
    display:table;
}
.clearfix:after{
    clear:both;
}
.clearfix{
    zoom:1;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
